$factions: caf, im, ins, ru, uk, us, usmc, mea;

$ieColorStart: ie-hex-str(rgba($gray-900, 0%));
$ieColorEnd: ie-hex-str(rgba($gray-900, 100%));

@each $faction in $factions {
  .bg-faction-#{$faction} {
    background-image: url('../../images/factions/#{$faction}.svg');
    background-repeat: no-repeat;
  }
}