@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

/* Social colors */
$discord: #7289DA;
$steam: #00adee;
$teamspeak: #2580c3;
$youtube: #FF0000;

$theme-colors: map-merge(
  (
    "discord": $discord,
    "steam": $steam,
    "teamspeak": $teamspeak,
    "youtube": $youtube,
    ),
    $theme-colors
);

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~flag-icon-css/sass/flag-icon';