/* Normal Colors */
$yellow: #ffc40b;

$primary: $yellow;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

/* Social colors */
$discord: #7289DA;
$steam: #00adee;
$teamspeak: #2580c3;
$youtube: #FF0000;

$theme-colors: map-merge(
  (
    "discord": $discord,
    "steam": $steam,
    "teamspeak": $teamspeak,
    "youtube": $youtube,
    ),
    $theme-colors
);

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~flag-icon-css/sass/flag-icon';


@each $color, $value in $theme-colors {
    @each $opacity in (9, 8, 7, 6, 5, 4, 3, 2, 1) {
        .bg-transparent-#{$color}-#{$opacity}00 {
            background-color: rgba($value, percentage($opacity / 10));
        }
    }
}

.bg-center {
    background-position: center;
}

.bg-cover {
    background-size: cover;
}

@each $background in ('no-map') {
    .bg-#{$background} {
        background-image: url(../../images/no-map.jpg);
    }
}

.server-list {
    .server {
        .server-inner {
            @include media-breakpoint-up(md) {
                @include gradient-directional(rgba(#000, 33%) 25%, transparent, 90deg);
            }

            .main-info {
                background-color: rgba(#000, 33%);
                
                @include media-breakpoint-up(md) {
                    background-color: transparent;
                }
            }

            .actions {
                font-size: 1.5em;
                
                @include media-breakpoint-up(md) {
                    font-size: 2em;
                }
            }
        }
    }
}