@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

/* Normal Colors */
$yellow: #ffc40b;

$primary: $yellow;

/* Social colors */
$discord: #7289DA;
$steam: #00adee;
$teamspeak: #2580c3;
$youtube: #FF0000;

$theme-colors: map-merge(
  (
    "discord": $discord,
    "steam": $steam,
    "teamspeak": $teamspeak,
    "youtube": $youtube,
    ),
    $theme-colors
);

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~flag-icon-css/sass/flag-icon';


@each $color, $value in $theme-colors {
    @each $opacity in (9, 8, 7, 6, 5, 4, 3, 2, 1) {
        .bg-transparent-#{$color}-#{$opacity}00 {
            background-color: rgba($value, percentage($opacity / 10));
        }
    }
}